<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Update Event</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="saveEvent(); close()">Save</button>
    </div>
  </ng-template>

<h3>Available Calendars</h3>
<ul style="list-style-type: none; padding-left: 0">
  <li *ngFor="let choice of choices">
    <a routerLink={{choice}} >{{choice}}</a>
  </li>
</ul>
<!-- <button [ngStyle]="{'background-color':'#bec0d6'}" routerLink="/create-list" type="button" class="btn">Add List</button> -->

<div *ngIf="!choices">
  No calendars available, create a new one below!
</div>

<br>

<div *ngIf="!show_name">
    <input type="text" placeholder="Calendar Name" class="form-control" [(ngModel)]="calendar_name">
</div>
<br>
<button type="submit" [disabled]="!calendar_name" [ngStyle]="{'background-color':'#bec0d6'}" routerLink={{calendar_name}} type="button" class="btn">Create New Calendar</button>