<div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr (click)="test()">
              <th *ngFor="let column of columns;"> {{ column }}</th>
          </tr>
          <!-- <tr *ngFor="let column of columns; let i = index" (click)="test()">
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
          </tr> -->
        </thead>
        <tbody>
          <tr *ngFor="let time of times; let i = index">
            <td *ngFor="let column of columns; let j = index" (click)="onSelect(i, j)">
              {{times[i]}}
              <!-- <button type="button" class="btn btn-outline-secondary" placement="top"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
                Popover on top
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<div>
    <label>title:
      <input [(ngModel)]="meeting.title" placeholder="title">
    </label>
</div>
